name: Terraform Quality & Security

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  IAM_ROLE_ARN: ${{ secrets.AWS_IAC_ROLE_ARN }}

jobs:
  iac-checks:
    name: Terraform Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: latest

      - name: Run TFLint
        run: |
          tflint --init
          tflint -f compact

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          quiet: true
          soft_fail: false
          framework: terraform

      - name: Terraform Plan
        run: terraform plan -out=tfplan -input=false

      - name: Convert Plan to JSON
        run: terraform show -json tfplan > tfplan.json

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: latest

      - name: Run OPA Policy Check
        run: |
          - opa eval --input tfplan.json --data tags.rego "data.terraform.tags.deny" --format pretty
          - opa eval --input tfplan.json --data tags.rego "data.terraform.tags.deny" --format json | jq -e '.result[0].expressions[0].value | length == 0'